:root {
  --mainTransition: 0.5s ease;
  --color1: #540d6e;     //text
  --color2: #ffeedd;     //background
  --color3: #b8b8ff;     //border
  --color4:  #9381ff;    //shadow
}

%centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

%googlefont {
  font-family: 'Indie Flower', cursive;
  color: var(--color1);
}


@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  //border: 3px solid black;
  @extend %centerItems;
}

.mainWrapper {
  position: relative;
  height: 80%;
  min-width: 700px;
  padding: 20px;
  // border: 1px solid black;
  background-color: var(--color2);
  border-radius: 20px;
  // overflow: auto;
  .laterWindow, .finishedWindow {
    //display: flex;
    //@extend %centerItems;
    //justify-content: flex-start;
    //flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    height: 0;
    //transform: scaleY(0);
    @extend %googlefont;
    //@extend %centerItems;
      //transform: scale(0);
    background-color: var(--color2);
    border-radius: 20px;
    //border: 1px solid red;
    transition: height var(--mainTransition), display 0.1s ease;

    overflow: hidden;
    h1 {

      @extend  %googlefont;
      height: 15%;
      font-size: 60px;
      text-align: center;
      color: var(--color1);
      margin: 0;

    }

    .finishedTasks, .laterTasks {
      @extend %centerItems;
      @extend %googlefont;
      justify-content: flex-start;
      height: 70%;
      flex-direction: column;
      overflow: auto;
    }

      .laterBtn, .finishedBtn {
        @extend %centerItems;
        height: 15%;



        .laterWindowClose, .finishedWindowClose {
          @extend %centerItems;

          width: 30%;
          min-height: 40px;
          font-size: 20px;
          font-weight: 700;
          border: 2px solid var(--color3);
          border-radius: 10px;
          margin-bottom: 20px;
          &:hover{
            box-shadow: 0 0 5px 4px var(--color4);
            cursor: pointer;

          }
        }



      }



  }
}

.wrapper1{
  @extend %centerItems;
  @extend %googlefont;
  height: 15%;
  // border: 1px solid black;
  h1 {
    font-size: 60px;
    color: var(--color1)
  }
}


.wrapper2main {
  overflow: auto;
  height: 70%;
  padding-left: 10px;
  padding-right: 10px;


}

//.wrapper2main::-webkit-scrollbar {
//  width: 10px;
//}
//
//.wrapper2main::-webkit-scrollbar-track {
//  background-color: #e4e4e4;
//  border-radius: 100px;
//}






.wrapper2 {
  @extend %centerItems;
  @extend %googlefont;
  justify-content: flex-start;
  height: 70%;
  flex-direction: column;
  // overflow: auto;
}

.form{
  @extend %centerItems;
  min-height: 40px;
  width: 100%;
  border: 2px solid var(--color3);
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 5px;
  transition: all var(--mainTransition);
  //overflow: visible;

  input {
    background-color: var(--color2);
    height: 100%;
    width: 70%;
    border: none;
    border-radius:   10px 0 0 10px;
    box-sizing: border-box;
    @extend %googlefont;
    font-size: 20px;
    color: var(--color1);
    padding-left: 20px;
    transition: all var(--mainTransition);

    &:focus, &:hover  {
      // border: ;
      outline: none;
      box-shadow: 0 0 5px 4px var(--color4);
    }
    &::placeholder {
      color: var(--color1);
    }
  }
  .choseDate, .add {
    @extend %centerItems;
    height: 100%;
    width: 15%;
    border-left: 2px solid var(--color3);
    outline: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: var(--color1);
    transition: all var(--mainTransition);
    &:hover {
      box-shadow: 0 0 5px 4px var(--color4);
    }

  }

  .add {
    border-radius: 0 10px 10px 0;
  }

  .choseDate{
    position: relative;
    &::after {
      font-family: 'FontAwesome', Serif;
      content: '';
    }


    &Select {
      @extend %centerItems;
      height: 100%;
      border:  solid var(--color3);
      border-width: 1px 2px 1px 2px;
      outline: none;
      background-color: var(--color2);
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      z-index: 2;
      transition: all var(--mainTransition);
      &:hover {
        box-shadow: 0 0 5px 4px var(--color4);
        //i {
        //  transition: all var(--mainTransition);
        //  transform: scale(1.3);
        //}
      }



      position: absolute;
      width: 100%;

      &:nth-child(1) {
        //border-width: 0 1px 1px 1px;
      }
      &:nth-child(2) {
        top: 100%;
      }
      &:nth-child(3) {
        top: 200%;
        border-radius: 0 0 10px 10px;
      }
      i {

        margin-left: 10px;

      }
    }
    .dropdownOff {
      display: none;
    }
  }
}
.taskCard {
  @extend %centerItems;
  min-height: 40px;
  width: 100%;
  border: 2px solid var(--color3);
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  transition: all var(--mainTransition);

  &Text, &Date, &Controls{
    @extend %centerItems;
    height: 100%;
    transition: all var(--mainTransition);
    &:hover {
      box-shadow: 0 0 5px 4px var(--color4);
    }
  }




  &Text {
    border-radius:   10px 0 0 10px;
    width: 55%;
  }
  &Date {
    width: 20%;
    border-left: 2px solid var(--color3);
    font-size: 20px;
    font-weight: 700;
  }
  &Controls {
    @extend %centerItems;
    border-radius:     0 10px 10px 0;
    width: 25%;
    border-left: 2px solid var(--color3);
    font-size: 20px;
    font-weight: 700;
    transition: all var(--mainTransition);
    &Finished, &Later {
      @extend %centerItems;
      width: 33%;
      height: 100%;
      border-right:  2px solid var(--color3);
      cursor: pointer;
      &:hover {
        color: var(--color4);
        box-shadow: 0 0 5px 4px var(--color4);
      }
    }
    &Close, &Later {
      @extend %centerItems;
      width: 33%;
      height: 100%;
      cursor: pointer;
      //transition: all 0.5s ease-out;
      &:hover {
        color: var(--color4);
        box-shadow: 0 0 5px 4px var(--color4);
        i {
          transition: all var(--mainTransition);
          transform: rotate(180deg)
        }
      }

    }
    &Close {
      border-radius: 0 10px 10px 0;
    }
    &Finished {
      &:hover {
        i {
          transition: all var(--mainTransition);
          transform: scale(1.5);
        }
      }
    }

  }

}

.wrapper3{
  @extend %centerItems;
  @extend %googlefont;
  justify-content: space-between;
  height: 15%;
  .clearButton, .laterButton, .finishedButton {
    @extend %centerItems;
    min-width: 30%;
    min-height: 40px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid var(--color3);
    border-radius: 10px;
    &:hover{
      box-shadow: 0 0 5px 4px var(--color4);
      cursor: pointer;
    }

  }
}
